<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab 1 Take 2 - Wall Following/src/ca/mcgill/ecse211/wallfollowing/WallFollowingLab.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.mcgill.ecse211.wallfollowing.WallFollowingLab"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab 1 Take 2 - Wall Following"/>
</launchConfiguration>
